body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  background-color: powderblue;
}

.Box{
  background-color:azure;
  padding: 1.5em;
  
}

